#logo-container img {
  width: 30%;
  height: 30%;
}
.parallax-container {
  height: 300px;
  padding-top: 50px;
}
.parallax img {
  opacity: 0.7;
}
.fullerton-img {
  width: 70%;
  /*height: 50%;*/
}
