<!DOCTYPE html>

<html lang="en"><head>

	<!-- Some information to make sure phones and browsers view the page correctly -->
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  	<title>Title</title>

  <!-- IMPORTS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">							<!-- Fonts from Google CDN-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">	<!-- Materialize CSS from jsCDN -->
  <link rel="stylesheet" type="text/css" href="../static/css/customCSS.css">
  <!-- <link href="stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->					<!-- Used to overide Materialize CSS if necessary-->

</head>



<body>

	<!-- Navigation -->
	<nav class="#ffa726 orange lighten-1" role="navigation">
    	<div class="nav-wrapper container">

	    	<!-- Main Logo -->
	      	<a id="logo-container" href="#" class="brand-logo"> <img src=http://brand.fullerton.edu/_resources/images/examples/csuf-seal.png> </a>

	      	<!-- Regular Navbar-->
			<ul class="right hide-on-med-and-down">
	        	<li><a href="https://fullerton.edu">link</a></li>
              <!-- <img src=C:\Users\zz-mdominguez\Documents\SeatsApp\images\logo.png>-->
            <li><a href="https://fullerton.edu">link</a></li>
	      	</ul>

	      	<!-- Navbar When in Mobile -->
	      	<ul id="nav-mobile" class="side-nav">
            <li><a href="https://fullerton.edu"><img src=C:\Users\zz-mdominguez\Documents\SeatsApp\images\emblem.png ></a></li>
	      	  <li><a href="https://fullerton.edu/dss">link</a></li>
            <li><a href="https://my.fullerton.edu">link</a></li>

          <li><a href="http://titanable.fullerton.edu/"></a></li>
        </ul>

	      	<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

    	</div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 #0d47a1-text">Manage your seating area with ease.</h5>
        </div>
        <div class="row center">
          <a href="/home/mannyd7/Desktop/SeatsApp/login.html" id="download-button" class="btn-large waves-effect waves-light orange lighten-1">Sign In</a>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="https://s3-us-west-2.amazonaws.com/scorestream-team-profile-pictures/teamPic1151110-7127-ol2624.png" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center #0d47a1-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Schedule</h5>

            <p class="light center">Create a Schedule for the Day.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center #0d47a1-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Manage</h5>

            <p class="light center">Manage bookings with priorities</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center #0d47a1-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Track</h5>

            <p class="light center">Daily Reports available.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <img class="fullerton-img center" src="http://hornet.fullcoll.edu/wp-content/uploads/2015/11/csuf.png">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light"> We are always open to suggestions and encourage you to email us with your experience! You can navigate to the bottom of this page and email one of the developrs directly. Be advised that our application is still in beta and many of the features we recieve complaints about are constantly being worked on. However, we still value any and all input the customers can provide us!</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="parallax"><img src="https://s3-us-west-2.amazonaws.com/scorestream-team-profile-pictures/teamPic1151110-7127-ol2624.png" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer #ffa726 orange lighten-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">A single software engineer with a unique knowledge of the business processes used by the Disability Support Services program at CSUF, Manuel Dominguez is currently developing the seats application to help with everyday scheduling of available space.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect With Us</h5>
          <ul>
            <li><a class="white-text" href="#!">mannyd7@csu.fullerton.edu</a></li>
            <li><a class="white-text" href="#!">dsservices@fullerton.edu</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="https://www.twitter.com/mannyd07">Mannyd07</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <script>
    (
      function($)
      {
        $(function()
        {
          $('.button-collapse').sideNav();
          $('.parallax').parallax();
        }); // end of document ready
      })(jQuery); // end of jQuery name space
  </script>

  </body>
</html>
